.navbar{
    margin-top: 10px;
    margin-bottom: 50px;
}
.navbar a.active{
    color: red;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
 .header button,.AddToCart button{
    font-size: 15px;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
 }   
 .navlink1{
    margin-right: 10px;
 }
 .Individual_product{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    border: 1px solid rgb(224, 219, 219);
    border-radius: 5px;
    margin-right: 30px;
 }
 .Individual_product:hover{
    box-shadow: 0px 20px rgb(240, 241, 241);
 }
 .bottleImg{
    width: 100%;
 }
 .Description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .Description div,h3{
    margin: 10px;
 }
 .AllProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
 }
 .ProductPageDescription{
    margin-top: 20px;
    margin-left: 70px;
 }
 .Products{
    display: flex;
    justify-content: flex-start;
 }
 .Products .BottleImg{
    width: 50%;
 }
 .AddToCart div,.quantity{
    margin: 10px;
    margin-bottom: 20px;
 }
 .ProductPageDescription .Description h3{
    font-size: 25px;
 }